DroneDeliveryClient/src/main/resources/CommentPostingWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CommentPostingWebServiceImplService" targetNamespace="http://webservices.teamH.dd.isa.polytech.unice.fr/rating" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.teamH.dd.isa.polytech.unice.fr/rating" xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/rating" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/rating" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/rating" version="1.0">

  <xs:element name="createComment" type="tns:createComment"/>

  <xs:element name="createCommentResponse" type="tns:createCommentResponse"/>

  <xs:complexType name="createComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="packageTrackingNumber" type="xs:string"/>
      <xs:element name="rating" type="xs:int"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createCommentResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
<xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting">
  <xsd:element name="UnknownDeliveryException" type="tns:UnknownDeliveryException"/>
  <xsd:complexType name="UnknownDeliveryException">
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="UnknownDeliveryException">
    <wsdl:part name="UnknownDeliveryException" element="ns2:UnknownDeliveryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createComment">
    <wsdl:part name="parameters" element="ns1:createComment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCommentResponse">
    <wsdl:part name="parameters" element="ns1:createCommentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CommentPostingWebService">
    <wsdl:operation name="createComment">
      <wsdl:input name="createComment" message="ns1:createComment">
    </wsdl:input>
      <wsdl:output name="createCommentResponse" message="ns1:createCommentResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownDeliveryException" message="ns1:UnknownDeliveryException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommentPostingWebServiceImplServiceSoapBinding" type="ns1:CommentPostingWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createComment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createComment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCommentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentPostingWebServiceImplService">
    <wsdl:port name="CommentPostingWebServiceImplPort" binding="ns1:CommentPostingWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/CommentPostingWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
