DroneDeliveryClient/src/main/resources/DroneFleetManagementWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DroneFleetManagementWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drone" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drone" xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drone" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drone" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drone" version="1.0">

  <xs:element name="addDrone" type="tns:addDrone"/>

  <xs:element name="addDroneResponse" type="tns:addDroneResponse"/>

  <xs:element name="removeDrone" type="tns:removeDrone"/>

  <xs:element name="removeDroneResponse" type="tns:removeDroneResponse"/>

  <xs:complexType name="addDrone">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="weightCapacity" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDroneResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeDrone">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeDroneResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
<xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
  <xsd:element name="UnknownDroneException" type="tns:UnknownDroneException"/>
  <xsd:complexType name="UnknownDroneException">
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="addDrone">
    <wsdl:part name="parameters" element="ns1:addDrone">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDroneResponse">
    <wsdl:part name="parameters" element="ns1:addDroneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDrone">
    <wsdl:part name="parameters" element="ns1:removeDrone">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDroneException">
    <wsdl:part name="UnknownDroneException" element="ns2:UnknownDroneException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDroneResponse">
    <wsdl:part name="parameters" element="ns1:removeDroneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DroneFleetManagementWebService">
    <wsdl:operation name="addDrone">
      <wsdl:input name="addDrone" message="ns1:addDrone">
    </wsdl:input>
      <wsdl:output name="addDroneResponse" message="ns1:addDroneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDrone">
      <wsdl:input name="removeDrone" message="ns1:removeDrone">
    </wsdl:input>
      <wsdl:output name="removeDroneResponse" message="ns1:removeDroneResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownDroneException" message="ns1:UnknownDroneException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DroneFleetManagementWebServiceImplServiceSoapBinding" type="ns1:DroneFleetManagementWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDroneException">
        <soap:fault name="UnknownDroneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DroneFleetManagementWebServiceImplService">
    <wsdl:port name="DroneFleetManagementWebServiceImplPort" binding="ns1:DroneFleetManagementWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/DroneFleetManagementWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
