DroneDeliveryClient/src/main/resources/PlanningWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanningWebServiceImplService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning"
                  xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning"
                  xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning"
                  xmlns:ns4="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns3="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
      <xs:element name="editDeliveryStatus" type="tns:editDeliveryStatus"/>
      <xs:element name="editDeliveryStatusResponse" type="tns:editDeliveryStatusResponse"/>
      <xs:element name="findDeliveryById" type="tns:findDeliveryById"/>
      <xs:element name="findDeliveryByIdResponse" type="tns:findDeliveryByIdResponse"/>
      <xs:element name="getCompleteDeliveryPlanning" type="tns:getCompleteDeliveryPlanning"/>
      <xs:element name="getCompleteDeliveryPlanningResponse" type="tns:getCompleteDeliveryPlanningResponse"/>
      <xs:element name="planDelivery" type="tns:planDelivery"/>
      <xs:element name="planDeliveryResponse" type="tns:planDeliveryResponse"/>
      <xs:complexType name="getCompleteDeliveryPlanning">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="getCompleteDeliveryPlanningResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="delivery-planning" type="tns:planningEntry"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planningEntry">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true" type="tns:delivery"/>
          <xs:element minOccurs="0" name="drone" type="tns:drone"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateTimeToShip" type="tns:localDateTime"/>
          <xs:element name="distance" type="xs:float"/>
          <xs:element name="flightTime" type="xs:float"/>
          <xs:element minOccurs="0" name="state" type="tns:deliveryState"/>
          <xs:element minOccurs="0" name="time" type="xs:string"/>
          <xs:element minOccurs="0" name="aPackage" type="tns:package"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType abstract="true" name="deliveryState">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="completedDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="shippedAt" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="localDateTime">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="failedDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="localDateTime" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inFlightDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="shippedAt" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="notSentDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="package">
        <xs:sequence>
          <xs:element minOccurs="0" name="destination" type="xs:string"/>
          <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string"/>
          <xs:element name="weight" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="supplier">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="drone">
        <xs:sequence>
          <xs:element name="battery" type="xs:int"/>
          <xs:element name="currentFlightTime" type="xs:float"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="state" type="tns:droneState"/>
          <xs:element name="weightCapacity" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType abstract="true" name="droneState">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inChargeDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inFlightDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inMaintenanceDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="readyDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="planDelivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="tracking-number" type="xs:string"/>
          <xs:element minOccurs="0" name="shipping-time" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planDeliveryResponse">
        <xs:sequence>
          <xs:element name="return_code" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="editDeliveryStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="editDeliveryStatusResponse">
        <xs:sequence>
          <xs:element name="return_code" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findDeliveryById">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findDeliveryByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="delivery" type="tns:delivery"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnknownPackageException" type="tns:UnknownPackageException"/>
      <xs:complexType name="UnknownPackageException">
        <xs:sequence>
          <xs:element name="trackingNumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning">
      <xsd:element name="DeliveryDistanceException" type="tns:DeliveryDistanceException"/>
      <xsd:complexType name="DeliveryDistanceException">
        <xsd:sequence>
          <xsd:element name="destination" nillable="true" type="xsd:string"/>
          <xsd:element name="trackingNumber" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
      <xsd:element name="UnknownDeliveryStateException" type="tns:UnknownDeliveryStateException"/>
      <xsd:complexType name="UnknownDeliveryStateException">
        <xsd:sequence>
          <xsd:element name="conflictingState" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning">
      <xsd:element name="UnknownDeliveryException" type="tns:UnknownDeliveryException"/>
      <xsd:complexType name="UnknownDeliveryException">
        <xsd:sequence>
          <xsd:element name="id" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findDeliveryByIdResponse">
    <wsdl:part name="parametersfindDeliveryByIdResponse" element="ns1:findDeliveryByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findDeliveryById">
    <wsdl:part name="parametersfindDeliveryById" element="ns1:findDeliveryById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteDeliveryPlanning">
    <wsdl:part name="parametersgetCompleteDeliveryPlanning" element="ns1:getCompleteDeliveryPlanning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDeliveryStateException">
    <wsdl:part name="UnknownDeliveryStateException" element="ns3:UnknownDeliveryStateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDeliveryException">
    <wsdl:part name="UnknownDeliveryException" element="ns4:UnknownDeliveryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDelivery">
    <wsdl:part name="parametersplanDelivery" element="ns1:planDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDeliveryResponse">
    <wsdl:part name="parametersplanDeliveryResponse" element="ns1:planDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDeliveryStatusResponse">
    <wsdl:part name="parameterseditDeliveryStatusResponse" element="ns1:editDeliveryStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteDeliveryPlanningResponse">
    <wsdl:part name="parametersgetCompleteDeliveryPlanningResponse" element="ns1:getCompleteDeliveryPlanningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDeliveryStatus">
    <wsdl:part name="parameterseditDeliveryStatus" element="ns1:editDeliveryStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownPackageException">
    <wsdl:part name="UnknownPackageException" element="ns1:UnknownPackageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeliveryDistanceException">
    <wsdl:part name="DeliveryDistanceException" element="ns2:DeliveryDistanceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PlanningWebService">
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <wsdl:input name="getCompleteDeliveryPlanning" message="ns1:getCompleteDeliveryPlanning">
      </wsdl:input>
      <wsdl:output name="getCompleteDeliveryPlanningResponse" message="ns1:getCompleteDeliveryPlanningResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <wsdl:input name="planDelivery" message="ns1:planDelivery">
      </wsdl:input>
      <wsdl:output name="planDeliveryResponse" message="ns1:planDeliveryResponse">
      </wsdl:output>
      <wsdl:fault name="UnknownPackageException" message="ns1:UnknownPackageException">
      </wsdl:fault>
      <wsdl:fault name="DeliveryDistanceException" message="ns1:DeliveryDistanceException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDeliveryStatus">
      <wsdl:input name="editDeliveryStatus" message="ns1:editDeliveryStatus">
      </wsdl:input>
      <wsdl:output name="editDeliveryStatusResponse" message="ns1:editDeliveryStatusResponse">
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryStateException" message="ns1:UnknownDeliveryStateException">
      </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException" message="ns1:UnknownDeliveryException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDeliveryById">
      <wsdl:input name="findDeliveryById" message="ns1:findDeliveryById">
      </wsdl:input>
      <wsdl:output name="findDeliveryByIdResponse" message="ns1:findDeliveryByIdResponse">
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryException" message="ns1:UnknownDeliveryException">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningWebServiceImplServiceSoapBinding" type="tns:PlanningWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompleteDeliveryPlanning">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompleteDeliveryPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="planDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="planDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownPackageException">
        <soap:fault name="UnknownPackageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DeliveryDistanceException">
        <soap:fault name="DeliveryDistanceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDeliveryStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editDeliveryStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editDeliveryStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryStateException">
        <soap:fault name="UnknownDeliveryStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDeliveryById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findDeliveryById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findDeliveryByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanningWebServiceImplService">
    <wsdl:port name="PlanningWebServiceImplPort" binding="tns:PlanningWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/PlanningWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>




