clients/Manutentionnaire/src/main/resources/DroneWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" name="DroneFleetManagementWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones">
  <xs:element name="addDrone" type="tns:addDrone"/>
  <xs:element name="addDroneResponse" type="tns:addDroneResponse"/>
  <xs:element name="editDroneStatus" type="tns:editDroneStatus"/>
  <xs:element name="editDroneStatusResponse" type="tns:editDroneStatusResponse"/>
  <xs:element name="getDrone" type="tns:getDrone"/>
  <xs:element name="getDroneResponse" type="tns:getDroneResponse"/>
  <xs:element name="removeDrone" type="tns:removeDrone"/>
  <xs:element name="removeDroneResponse" type="tns:removeDroneResponse"/>
  <xs:complexType name="addDrone">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="weightCapacity" type="xs:float"/>
      <xs:element name="speed" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDroneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return_code" type="tns:drone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="drone">
    <xs:sequence>
      <xs:element name="battery" type="xs:int"/>
      <xs:element name="currentFlightTime" type="xs:float"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="speed" type="xs:float"/>
      <xs:element minOccurs="0" name="state" type="tns:droneState"/>
      <xs:element name="weightCapacity" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="droneState">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inChargeDroneState">
    <xs:complexContent>
      <xs:extension base="tns:droneState">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="inFlightDroneState">
    <xs:complexContent>
      <xs:extension base="tns:droneState">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="inMaintenanceDroneState">
    <xs:complexContent>
      <xs:extension base="tns:droneState">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="readyDroneState">
    <xs:complexContent>
      <xs:extension base="tns:droneState">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getDrone">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDroneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeDrone">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeDroneResponse">
    <xs:sequence>
      <xs:element name="return_code" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editDroneStatus">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editDroneStatusResponse">
    <xs:sequence>
      <xs:element name="return_code" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlreadyExistingDroneException" type="tns:AlreadyExistingDroneException"/>
  <xs:complexType name="AlreadyExistingDroneException">
    <xs:sequence>
      <xs:element minOccurs="0" name="conflictingId" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnknownDroneStateException" type="tns:UnknownDroneStateException"/>
  <xs:complexType name="UnknownDroneStateException">
    <xs:sequence>
      <xs:element minOccurs="0" name="conflictingState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
  <xsd:element name="UnknownDroneException" type="tns:UnknownDroneException"/>
  <xsd:complexType name="UnknownDroneException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="addDrone">
    <wsdl:part element="tns:addDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDroneStateException">
    <wsdl:part element="tns:UnknownDroneStateException" name="UnknownDroneStateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDroneResponse">
    <wsdl:part element="tns:addDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDroneStatus">
    <wsdl:part element="tns:editDroneStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDrone">
    <wsdl:part element="tns:getDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDrone">
    <wsdl:part element="tns:removeDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDroneStatusResponse">
    <wsdl:part element="tns:editDroneStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistingDroneException">
    <wsdl:part element="tns:AlreadyExistingDroneException" name="AlreadyExistingDroneException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDroneResponse">
    <wsdl:part element="tns:removeDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDroneResponse">
    <wsdl:part element="tns:getDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDroneException">
    <wsdl:part element="ns1:UnknownDroneException" name="UnknownDroneException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DroneFleetManagementWebService">
    <wsdl:operation name="addDrone">
      <wsdl:input message="tns:addDrone" name="addDrone">
    </wsdl:input>
      <wsdl:output message="tns:addDroneResponse" name="addDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AlreadyExistingDroneException" name="AlreadyExistingDroneException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDrone">
      <wsdl:input message="tns:getDrone" name="getDrone">
    </wsdl:input>
      <wsdl:output message="tns:getDroneResponse" name="getDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownDroneException" name="UnknownDroneException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeDrone">
      <wsdl:input message="tns:removeDrone" name="removeDrone">
    </wsdl:input>
      <wsdl:output message="tns:removeDroneResponse" name="removeDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownDroneException" name="UnknownDroneException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDroneStatus">
      <wsdl:input message="tns:editDroneStatus" name="editDroneStatus">
    </wsdl:input>
      <wsdl:output message="tns:editDroneStatusResponse" name="editDroneStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownDroneException" name="UnknownDroneException">
    </wsdl:fault>
      <wsdl:fault message="tns:UnknownDroneStateException" name="UnknownDroneStateException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DroneFleetManagementWebServiceImplServiceSoapBinding" type="tns:DroneFleetManagementWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExistingDroneException">
        <soap:fault name="AlreadyExistingDroneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDroneException">
        <soap:fault name="UnknownDroneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDroneException">
        <soap:fault name="UnknownDroneException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDroneStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editDroneStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editDroneStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDroneException">
        <soap:fault name="UnknownDroneException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDroneStateException">
        <soap:fault name="UnknownDroneStateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DroneFleetManagementWebServiceImplService">
    <wsdl:port binding="tns:DroneFleetManagementWebServiceImplServiceSoapBinding" name="DroneFleetManagementWebServiceImplPort">
      <soap:address location="http://localhost:8080/drone-delivery-backend/webservices/DroneWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>