clients/Manutentionnaire/src/main/resources/PlanningWebServiceImpl.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://schemas.xmlsoap.org/soap/http" xmlns:ns3="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/plannings" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning" name="PlanningWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
      <xs:element name="editDeliveryStatus" type="tns:editDeliveryStatus"/>
      <xs:element name="editDeliveryStatusResponse" type="tns:editDeliveryStatusResponse"/>
      <xs:element name="findDeliveryById" type="tns:findDeliveryById"/>
      <xs:element name="findDeliveryByIdResponse" type="tns:findDeliveryByIdResponse"/>
      <xs:element name="getCompleteDeliveryPlanning" type="tns:getCompleteDeliveryPlanning"/>
      <xs:element name="getCompleteDeliveryPlanningResponse" type="tns:getCompleteDeliveryPlanningResponse"/>
      <xs:element name="planDelivery" type="tns:planDelivery"/>
      <xs:element name="planDeliveryResponse" type="tns:planDeliveryResponse"/>
      <xs:element name="startDelivery" type="tns:startDelivery"/>
      <xs:element name="startDeliveryResponse" type="tns:startDeliveryResponse"/>
      <xs:complexType name="getCompleteDeliveryPlanning">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="getCompleteDeliveryPlanningResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="delivery-planning" type="tns:planningEntry"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planningEntry">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true" type="tns:delivery"/>
          <xs:element minOccurs="0" name="drone" type="tns:drone"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:string"/>
          <xs:element name="distance" type="xs:float"/>
          <xs:element name="flightTime" type="xs:float"/>
          <xs:element minOccurs="0" name="state" type="tns:deliveryState"/>
          <xs:element minOccurs="0" name="time" type="xs:string"/>
          <xs:element minOccurs="0" name="aPackage" type="tns:package"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType abstract="true" name="deliveryState">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="completedDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="shippedAt" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="localDateTime">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="failedDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="localDateTime" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inFlightDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence>
              <xs:element minOccurs="0" name="shippedAt" type="tns:localDateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="notSentDeliveryState">
        <xs:complexContent>
          <xs:extension base="tns:deliveryState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="package">
        <xs:sequence>
          <xs:element minOccurs="0" name="destination" type="xs:string"/>
          <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string"/>
          <xs:element name="weight" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="supplier">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="drone">
        <xs:sequence>
          <xs:element name="battery" type="xs:int"/>
          <xs:element name="currentFlightTime" type="xs:float"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="state" type="tns:droneState"/>
          <xs:element name="weightCapacity" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType abstract="true" name="droneState">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inChargeDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inFlightDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="inMaintenanceDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="readyDroneState">
        <xs:complexContent>
          <xs:extension base="tns:droneState">
            <xs:sequence/>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="planDelivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="tracking-number" type="xs:string"/>
          <xs:element minOccurs="0" name="shipping-date" type="xs:string"/>
          <xs:element minOccurs="0" name="shipping-time" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planDeliveryResponse">
        <xs:sequence>
          <xs:element name="return_code" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="editDeliveryStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="editDeliveryStatusResponse">
        <xs:sequence>
          <xs:element name="return_code" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findDeliveryById">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findDeliveryByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="delivery" type="tns:delivery"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startDelivery">
        <xs:sequence>
          <xs:element minOccurs="0" name="tracking-number" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="startDeliveryResponse">
        <xs:sequence>
          <xs:element name="return_code" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnknownPackageException" type="tns:UnknownPackageException"/>
      <xs:complexType name="UnknownPackageException">
        <xs:sequence>
          <xs:element minOccurs="0" name="trackingNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting/planning">
      <xsd:element name="DeliveryDistanceException" type="tns:DeliveryDistanceException"/>
      <xsd:complexType name="DeliveryDistanceException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="destination" type="xsd:string"/>
          <xsd:element minOccurs="0" name="trackingNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/plannings" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/plannings">
      <xsd:element name="UnknownDeliveryStateException" type="tns:UnknownDeliveryStateException"/>
      <xsd:complexType name="UnknownDeliveryStateException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="conflictingState" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting">
      <xsd:element name="UnknownDeliveryException" type="tns:UnknownDeliveryException"/>
      <xsd:complexType name="UnknownDeliveryException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="xsd:string"/>
          <xsd:element minOccurs="0" name="message" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findDeliveryByIdResponse">
    <wsdl:part element="tns:findDeliveryByIdResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findDeliveryById">
    <wsdl:part element="tns:findDeliveryById" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startDelivery">
    <wsdl:part element="tns:startDelivery" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteDeliveryPlanning">
    <wsdl:part element="tns:getCompleteDeliveryPlanning" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDeliveryException">
    <wsdl:part element="ns3:UnknownDeliveryException" name="UnknownDeliveryException"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDeliveryResponse">
    <wsdl:part element="tns:planDeliveryResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDeliveryStatusResponse">
    <wsdl:part element="tns:editDeliveryStatusResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startDeliveryResponse">
    <wsdl:part element="tns:startDeliveryResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteDeliveryPlanningResponse">
    <wsdl:part element="tns:getCompleteDeliveryPlanningResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="editDeliveryStatus">
    <wsdl:part element="tns:editDeliveryStatus" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownPackageException">
    <wsdl:part element="tns:UnknownPackageException" name="UnknownPackageException"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeliveryDistanceException">
    <wsdl:part element="ns1:DeliveryDistanceException" name="DeliveryDistanceException"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDeliveryStateException">
    <wsdl:part element="ns2:UnknownDeliveryStateException" name="UnknownDeliveryStateException"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDelivery">
    <wsdl:part element="tns:planDelivery" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PlanningWebService">
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <wsdl:input message="tns:getCompleteDeliveryPlanning" name="getCompleteDeliveryPlanning"> </wsdl:input>
      <wsdl:output message="tns:getCompleteDeliveryPlanningResponse" name="getCompleteDeliveryPlanningResponse"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <wsdl:input message="tns:planDelivery" name="planDelivery"> </wsdl:input>
      <wsdl:output message="tns:planDeliveryResponse" name="planDeliveryResponse"> </wsdl:output>
      <wsdl:fault message="tns:UnknownPackageException" name="UnknownPackageException"> </wsdl:fault>
      <wsdl:fault message="tns:DeliveryDistanceException" name="DeliveryDistanceException"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDeliveryStatus">
      <wsdl:input message="tns:editDeliveryStatus" name="editDeliveryStatus"> </wsdl:input>
      <wsdl:output message="tns:editDeliveryStatusResponse" name="editDeliveryStatusResponse"> </wsdl:output>
      <wsdl:fault message="tns:UnknownDeliveryStateException" name="UnknownDeliveryStateException"> </wsdl:fault>
      <wsdl:fault message="tns:UnknownDeliveryException" name="UnknownDeliveryException"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDeliveryById">
      <wsdl:input message="tns:findDeliveryById" name="findDeliveryById"> </wsdl:input>
      <wsdl:output message="tns:findDeliveryByIdResponse" name="findDeliveryByIdResponse"> </wsdl:output>
      <wsdl:fault message="tns:UnknownDeliveryException" name="UnknownDeliveryException"> </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startDelivery">
      <wsdl:input message="tns:startDelivery" name="startDelivery"> </wsdl:input>
      <wsdl:output message="tns:startDeliveryResponse" name="startDeliveryResponse"> </wsdl:output>
      <wsdl:fault message="tns:UnknownDeliveryStateException" name="UnknownDeliveryStateException"> </wsdl:fault>
      <wsdl:fault message="tns:UnknownDeliveryException" name="UnknownDeliveryException"> </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningWebServiceImplServiceSoapBinding" type="tns:PlanningWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompleteDeliveryPlanning">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompleteDeliveryPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="planDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="planDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownPackageException">
        <soap:fault name="UnknownPackageException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DeliveryDistanceException">
        <soap:fault name="DeliveryDistanceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editDeliveryStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="editDeliveryStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="editDeliveryStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryStateException">
        <soap:fault name="UnknownDeliveryStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDeliveryById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findDeliveryById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findDeliveryByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDeliveryStateException">
        <soap:fault name="UnknownDeliveryStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanningWebServiceImplService">
    <wsdl:port binding="tns:PlanningWebServiceImplServiceSoapBinding" name="PlanningWebServiceImplPort">
      <soap:address location="http://localhost:8080/drone-delivery-backend/webservices/PlanningWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
