clients/gestionnaire/src/main/resources/AccountingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/packages" name="AccountingWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting">
  <xs:element name="addSupplierContact" type="tns:addSupplierContact"/>
  <xs:element name="addSupplierContactResponse" type="tns:addSupplierContactResponse"/>
  <xs:element name="deleteSupplier" type="tns:deleteSupplier"/>
  <xs:element name="deleteSupplierResponse" type="tns:deleteSupplierResponse"/>
  <xs:element name="findAllSuppliers" type="tns:findAllSuppliers"/>
  <xs:element name="findAllSuppliersResponse" type="tns:findAllSuppliersResponse"/>
  <xs:element name="findAllUnpaidInvoices" type="tns:findAllUnpaidInvoices"/>
  <xs:element name="findAllUnpaidInvoicesResponse" type="tns:findAllUnpaidInvoicesResponse"/>
  <xs:element name="findInvoicesForSupplier" type="tns:findInvoicesForSupplier"/>
  <xs:element name="findInvoicesForSupplierResponse" type="tns:findInvoicesForSupplierResponse"/>
  <xs:element name="findSupplierByName" type="tns:findSupplierByName"/>
  <xs:element name="findSupplierByNameResponse" type="tns:findSupplierByNameResponse"/>
  <xs:element name="generateInvoiceFor" type="tns:generateInvoiceFor"/>
  <xs:element name="generateInvoiceForResponse" type="tns:generateInvoiceForResponse"/>
  <xs:element name="generateInvoicesForAllSuppliers" type="tns:generateInvoicesForAllSuppliers"/>
  <xs:element name="generateInvoicesForAllSuppliersResponse" type="tns:generateInvoicesForAllSuppliersResponse"/>
  <xs:element name="registerSupplier" type="tns:registerSupplier"/>
  <xs:element name="registerSupplierResponse" type="tns:registerSupplierResponse"/>
  <xs:complexType name="findInvoicesForSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findInvoicesForSupplierResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="invoice_list" type="tns:invoice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element name="amount" type="xs:float"/>
      <xs:element minOccurs="0" name="creationDate" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="paid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="paymentDate" type="xs:string"/>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contacts" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateInvoicesForAllSuppliers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generateInvoicesForAllSuppliersResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllSuppliers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllSuppliersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findSupplierByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findSupplierByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateInvoiceFor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateInvoiceForResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="addSupplierContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="contact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addSupplierContactResponse">
    <xs:sequence>
      <xs:element name="return_code" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllUnpaidInvoices">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllUnpaidInvoicesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unpaid_list" type="tns:invoice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="contact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return_code" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplierResponse">
    <xs:sequence>
      <xs:element name="return_code" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlreadyExistingSupplierException" type="tns:AlreadyExistingSupplierException"/>
  <xs:complexType name="AlreadyExistingSupplierException">
    <xs:sequence>
      <xs:element minOccurs="0" name="conflictingName" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/packages" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/packages">
  <xsd:element name="UnknownSupplierException" type="tns:UnknownSupplierException"/>
  <xsd:complexType name="UnknownSupplierException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/drones">
  <xsd:element name="AlreadyExistingContactException" type="tns:AlreadyExistingContactException"/>
  <xsd:complexType name="AlreadyExistingContactException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="conflictingContact" type="xsd:string"/>
      <xsd:element minOccurs="0" name="contactName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="findAllSuppliersResponse">
    <wsdl:part element="tns:findAllSuppliersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoiceForResponse">
    <wsdl:part element="tns:generateInvoiceForResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findInvoicesForSupplierResponse">
    <wsdl:part element="tns:findInvoicesForSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoicesForAllSuppliersResponse">
    <wsdl:part element="tns:generateInvoicesForAllSuppliersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSupplierByName">
    <wsdl:part element="tns:findSupplierByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistingContactException">
    <wsdl:part element="ns2:AlreadyExistingContactException" name="AlreadyExistingContactException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSupplierResponse">
    <wsdl:part element="tns:deleteSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerSupplier">
    <wsdl:part element="tns:registerSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUnpaidInvoicesResponse">
    <wsdl:part element="tns:findAllUnpaidInvoicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findInvoicesForSupplier">
    <wsdl:part element="tns:findInvoicesForSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoicesForAllSuppliers">
    <wsdl:part element="tns:generateInvoicesForAllSuppliers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownSupplierException">
    <wsdl:part element="ns1:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllSuppliers">
    <wsdl:part element="tns:findAllSuppliers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSupplierContactResponse">
    <wsdl:part element="tns:addSupplierContactResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistingSupplierException">
    <wsdl:part element="tns:AlreadyExistingSupplierException" name="AlreadyExistingSupplierException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoiceFor">
    <wsdl:part element="tns:generateInvoiceFor" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findSupplierByNameResponse">
    <wsdl:part element="tns:findSupplierByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSupplierContact">
    <wsdl:part element="tns:addSupplierContact" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUnpaidInvoices">
    <wsdl:part element="tns:findAllUnpaidInvoices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerSupplierResponse">
    <wsdl:part element="tns:registerSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSupplier">
    <wsdl:part element="tns:deleteSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountingWebService">
    <wsdl:operation name="findInvoicesForSupplier">
      <wsdl:input message="tns:findInvoicesForSupplier" name="findInvoicesForSupplier">
    </wsdl:input>
      <wsdl:output message="tns:findInvoicesForSupplierResponse" name="findInvoicesForSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoicesForAllSuppliers">
      <wsdl:input message="tns:generateInvoicesForAllSuppliers" name="generateInvoicesForAllSuppliers">
    </wsdl:input>
      <wsdl:output message="tns:generateInvoicesForAllSuppliersResponse" name="generateInvoicesForAllSuppliersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllSuppliers">
      <wsdl:input message="tns:findAllSuppliers" name="findAllSuppliers">
    </wsdl:input>
      <wsdl:output message="tns:findAllSuppliersResponse" name="findAllSuppliersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSupplierByName">
      <wsdl:input message="tns:findSupplierByName" name="findSupplierByName">
    </wsdl:input>
      <wsdl:output message="tns:findSupplierByNameResponse" name="findSupplierByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoiceFor">
      <wsdl:input message="tns:generateInvoiceFor" name="generateInvoiceFor">
    </wsdl:input>
      <wsdl:output message="tns:generateInvoiceForResponse" name="generateInvoiceForResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addSupplierContact">
      <wsdl:input message="tns:addSupplierContact" name="addSupplierContact">
    </wsdl:input>
      <wsdl:output message="tns:addSupplierContactResponse" name="addSupplierContactResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:fault>
      <wsdl:fault message="tns:AlreadyExistingContactException" name="AlreadyExistingContactException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUnpaidInvoices">
      <wsdl:input message="tns:findAllUnpaidInvoices" name="findAllUnpaidInvoices">
    </wsdl:input>
      <wsdl:output message="tns:findAllUnpaidInvoicesResponse" name="findAllUnpaidInvoicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerSupplier">
      <wsdl:input message="tns:registerSupplier" name="registerSupplier">
    </wsdl:input>
      <wsdl:output message="tns:registerSupplierResponse" name="registerSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AlreadyExistingSupplierException" name="AlreadyExistingSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplier">
      <wsdl:input message="tns:deleteSupplier" name="deleteSupplier">
    </wsdl:input>
      <wsdl:output message="tns:deleteSupplierResponse" name="deleteSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UnknownSupplierException" name="UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingWebServiceImplServiceSoapBinding" type="tns:AccountingWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findInvoicesForSupplier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findInvoicesForSupplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findInvoicesForSupplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoicesForAllSuppliers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateInvoicesForAllSuppliers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateInvoicesForAllSuppliersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllSuppliers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllSuppliers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllSuppliersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSupplierByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findSupplierByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findSupplierByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoiceFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateInvoiceFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateInvoiceForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addSupplierContact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addSupplierContact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSupplierContactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExistingContactException">
        <soap:fault name="AlreadyExistingContactException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUnpaidInvoices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllUnpaidInvoices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllUnpaidInvoicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerSupplier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registerSupplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerSupplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExistingSupplierException">
        <soap:fault name="AlreadyExistingSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSupplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSupplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingWebServiceImplService">
    <wsdl:port binding="tns:AccountingWebServiceImplServiceSoapBinding" name="AccountingWebServiceImplPort">
      <soap:address location="http://localhost:8080/drone-delivery-backend/webservices/AccountingWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>