livrair_project/wsdl/AccountingWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AccountingWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/package" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/accounting">
  <xs:element name="findAllUnpaidInvoices" type="tns:findAllUnpaidInvoices"/>
  <xs:element name="findAllUnpaidInvoicesResponse" type="tns:findAllUnpaidInvoicesResponse"/>
  <xs:element name="findByName" type="tns:findByName"/>
  <xs:element name="findByNameResponse" type="tns:findByNameResponse"/>
  <xs:element name="findInvoicesForSupplier" type="tns:findInvoicesForSupplier"/>
  <xs:element name="findInvoicesForSupplierResponse" type="tns:findInvoicesForSupplierResponse"/>
  <xs:element name="generateInvoiceFor" type="tns:generateInvoiceFor"/>
  <xs:element name="generateInvoiceForResponse" type="tns:generateInvoiceForResponse"/>
  <xs:element name="generateInvoicesForAllSuppliers" type="tns:generateInvoicesForAllSuppliers"/>
  <xs:element name="generateInvoicesForAllSuppliersResponse" type="tns:generateInvoicesForAllSuppliersResponse"/>
  <xs:element name="register" type="tns:register"/>
  <xs:element name="registerResponse" type="tns:registerResponse"/>
  <xs:complexType name="findInvoicesForSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findInvoicesForSupplierResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="invoice_list" type="tns:invoice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element name="amount" type="xs:float"/>
      <xs:element minOccurs="0" name="creationDate" type="tns:localDate"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="paid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="paymentDate" type="tns:localDate"/>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="localDate">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generateInvoicesForAllSuppliers">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generateInvoicesForAllSuppliersResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="contact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generateInvoiceFor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateInvoiceForResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllUnpaidInvoices">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="findAllUnpaidInvoicesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unpaid_list" type="tns:invoice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlreadyExistingSupplierException" type="tns:AlreadyExistingSupplierException"/>
  <xs:complexType name="AlreadyExistingSupplierException">
    <xs:sequence>
      <xs:element name="conflictingName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/package" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/package">
  <xsd:element name="UnknownSupplierException" type="tns:UnknownSupplierException"/>
  <xsd:complexType name="UnknownSupplierException">
    <xsd:sequence>
      <xsd:element name="name" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoiceForResponse">
    <wsdl:part name="parameters" element="tns:generateInvoiceForResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByNameResponse">
    <wsdl:part name="parameters" element="tns:findByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findInvoicesForSupplierResponse">
    <wsdl:part name="parameters" element="tns:findInvoicesForSupplierResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoicesForAllSuppliersResponse">
    <wsdl:part name="parameters" element="tns:generateInvoicesForAllSuppliersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part name="parameters" element="tns:register">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUnpaidInvoicesResponse">
    <wsdl:part name="parameters" element="tns:findAllUnpaidInvoicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findInvoicesForSupplier">
    <wsdl:part name="parameters" element="tns:findInvoicesForSupplier">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoicesForAllSuppliers">
    <wsdl:part name="parameters" element="tns:generateInvoicesForAllSuppliers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownSupplierException">
    <wsdl:part name="UnknownSupplierException" element="ns1:UnknownSupplierException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AlreadyExistingSupplierException">
    <wsdl:part name="AlreadyExistingSupplierException" element="tns:AlreadyExistingSupplierException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateInvoiceFor">
    <wsdl:part name="parameters" element="tns:generateInvoiceFor">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllUnpaidInvoices">
    <wsdl:part name="parameters" element="tns:findAllUnpaidInvoices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByName">
    <wsdl:part name="parameters" element="tns:findByName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountingWebService">
    <wsdl:operation name="findInvoicesForSupplier">
      <wsdl:input name="findInvoicesForSupplier" message="tns:findInvoicesForSupplier">
    </wsdl:input>
      <wsdl:output name="findInvoicesForSupplierResponse" message="tns:findInvoicesForSupplierResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownSupplierException" message="tns:UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoicesForAllSuppliers">
      <wsdl:input name="generateInvoicesForAllSuppliers" message="tns:generateInvoicesForAllSuppliers">
    </wsdl:input>
      <wsdl:output name="generateInvoicesForAllSuppliersResponse" message="tns:generateInvoicesForAllSuppliersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="register" message="tns:register">
    </wsdl:input>
      <wsdl:output name="registerResponse" message="tns:registerResponse">
    </wsdl:output>
      <wsdl:fault name="AlreadyExistingSupplierException" message="tns:AlreadyExistingSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoiceFor">
      <wsdl:input name="generateInvoiceFor" message="tns:generateInvoiceFor">
    </wsdl:input>
      <wsdl:output name="generateInvoiceForResponse" message="tns:generateInvoiceForResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownSupplierException" message="tns:UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUnpaidInvoices">
      <wsdl:input name="findAllUnpaidInvoices" message="tns:findAllUnpaidInvoices">
    </wsdl:input>
      <wsdl:output name="findAllUnpaidInvoicesResponse" message="tns:findAllUnpaidInvoicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <wsdl:input name="findByName" message="tns:findByName">
    </wsdl:input>
      <wsdl:output name="findByNameResponse" message="tns:findByNameResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownSupplierException" message="tns:UnknownSupplierException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingWebServiceImplServiceSoapBinding" type="tns:AccountingWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findInvoicesForSupplier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findInvoicesForSupplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findInvoicesForSupplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoicesForAllSuppliers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateInvoicesForAllSuppliers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateInvoicesForAllSuppliersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AlreadyExistingSupplierException">
        <soap:fault name="AlreadyExistingSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="generateInvoiceFor">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateInvoiceFor">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateInvoiceForResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAllUnpaidInvoices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllUnpaidInvoices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllUnpaidInvoicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownSupplierException">
        <soap:fault name="UnknownSupplierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingWebServiceImplService">
    <wsdl:port name="AccountingWebServiceImplPort" binding="tns:AccountingWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/AccountingWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
