livrair_project/wsdl/PlanningWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanningWebServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/team-h/planning">
  <xs:element name="getCompleteDeliveryPlanning" type="tns:getCompleteDeliveryPlanning"/>
  <xs:element name="getCompleteDeliveryPlanningResponse" type="tns:getCompleteDeliveryPlanningResponse"/>
  <xs:element name="planDelivery" type="tns:planDelivery"/>
  <xs:element name="planDeliveryResponse" type="tns:planDeliveryResponse"/>
  <xs:complexType name="getCompleteDeliveryPlanning">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCompleteDeliveryPlanningResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="delivery-planning" type="tns:planningEntry"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planningEntry">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateTimeToShip" type="tns:localDateTime"/>
      <xs:element name="distance" type="xs:float"/>
      <xs:element name="flightTime" type="xs:float"/>
      <xs:element minOccurs="0" name="state" type="tns:deliveryState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="localDateTime">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType abstract="true" name="deliveryState">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="planDelivery">
    <xs:sequence>
      <xs:element name="drone-id" type="xs:int"/>
      <xs:element minOccurs="0" name="tracking-number" type="xs:string"/>
      <xs:element minOccurs="0" name="shipping-time" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planDeliveryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="UnknownDroneException" type="tns:UnknownDroneException"/>
  <xs:complexType name="UnknownDroneException">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnknownPackageException" type="tns:UnknownPackageException"/>
  <xs:complexType name="UnknownPackageException">
    <xs:sequence>
      <xs:element name="trackingNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCompleteDeliveryPlanning">
    <wsdl:part name="parameters" element="tns:getCompleteDeliveryPlanning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDroneException">
    <wsdl:part name="UnknownDroneException" element="tns:UnknownDroneException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDelivery">
    <wsdl:part name="parameters" element="tns:planDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="planDeliveryResponse">
    <wsdl:part name="parameters" element="tns:planDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCompleteDeliveryPlanningResponse">
    <wsdl:part name="parameters" element="tns:getCompleteDeliveryPlanningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownPackageException">
    <wsdl:part name="UnknownPackageException" element="tns:UnknownPackageException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PlanningWebService">
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <wsdl:input name="getCompleteDeliveryPlanning" message="tns:getCompleteDeliveryPlanning">
    </wsdl:input>
      <wsdl:output name="getCompleteDeliveryPlanningResponse" message="tns:getCompleteDeliveryPlanningResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <wsdl:input name="planDelivery" message="tns:planDelivery">
    </wsdl:input>
      <wsdl:output name="planDeliveryResponse" message="tns:planDeliveryResponse">
    </wsdl:output>
      <wsdl:fault name="UnknownDroneException" message="tns:UnknownDroneException">
    </wsdl:fault>
      <wsdl:fault name="UnknownPackageException" message="tns:UnknownPackageException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningWebServiceImplServiceSoapBinding" type="tns:PlanningWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCompleteDeliveryPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCompleteDeliveryPlanning">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCompleteDeliveryPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="planDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="planDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="planDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UnknownDroneException">
        <soap:fault name="UnknownDroneException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownPackageException">
        <soap:fault name="UnknownPackageException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanningWebServiceImplService">
    <wsdl:port name="PlanningWebServiceImplPort" binding="tns:PlanningWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/PlanningWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
